<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar Angular</title>
  </head>
  <body class="font-[Roboto]">
    <div class="flex">
      <!-- sidebar -->
      <nav
        class="w-3/5 z-20 bg-slate-300 min-h-screen ease-in duration-300"
        [ngClass]="{
          '-translate-x-3/4 ': !openSidebar
        }"
      >
        <!-- top sidebar -->
        <div class="flex justify-between items-center px-2 py-4">
          <div class="flex space-x-1">
            <span class="text-blue-900 text-lg font-semibold italic"
              >CoderNadir</span
            >
          </div>
          <div
            class="cursor-pointer mr-1 bg-slate-100 rounded-full p-1 justify-center ease-in duration-300"
            (click)="toggleSidebar()"
            [ngClass]="{
              'rotate-180': openSidebar
            }"
          >
            <img
              src="../assets/icons/arrow-sidebar.svg"
              alt="toggle sidebar"
              class="w-6 translate-x-[2px]"
            />
          </div>
        </div>
        <!-- sidebar options -->
        <ul class="px-2">
          <li
            class="p-2 my-2 hover:bg-blue-200 hover:font-semibold ease-in duration-300 rounded-md transition cursor-default"
          >
            Profile
          </li>
          <li
            class="p-2 my-2 hover:bg-blue-200 hover:font-semibold ease-in duration-300 rounded-md transition cursor-default"
          >
            Dashboard
          </li>
          <li
            class="p-2 my-2 hover:bg-blue-200 hover:font-semibold ease-in duration-300 rounded-md transition cursor-default"
          >
            Payments
          </li>
          <li
            class="p-2 my-2 hover:bg-blue-200 hover:font-semibold ease-in duration-300 rounded-md transition cursor-default"
          >
            Activities
          </li>
          <li
            class="p-2 my-2 hover:bg-blue-200 hover:font-semibold ease-in duration-300 rounded-md transition cursor-default"
          >
            Support
          </li>
          <li
            class="p-2 my-2 hover:bg-blue-200 hover:font-semibold ease-in duration-300 rounded-md transition cursor-default"
          >
            About
          </li>
        </ul>
      </nav>
      <!-- content -->
      <div
        class="bg-slate-200 min-h-screen absolute min-w-full grid place-content-center"
      >
        <img
          src="../assets/icons/angular.svg"
          alt="Angular Logo"
          class="w-24 angular"
        />
      </div>
    </div>
  </body>
</html>
